.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Chat-header {
  width: 100%;
  padding: 15px;
  position: fixed; 
  top: 0; left: 0; right: 0;
}



#form { 
  background: rgba(0, 0, 0, 0.15); 
  padding: 0.25rem; 
  position: fixed; 
  bottom: 0; left: 0; right: 0; 
  display:
  flex; height: 3rem;
  box-sizing: border-box; 
  backdrop-filter: blur(10px); 
  font-size: 11pt
}

#input { 
  border: none; 
  padding: 0 1rem; 
  flex-grow: 1; 
  border-radius: 2rem; 
  margin: 0.25rem; 
}     
#input:focus { 
  outline: none; 
}
    
#messages { 
  list-style-type: none; margin: 0; padding: 0; 
  text-align: left;
  width: 95%;
}
#messages > li { 
  padding: 0.5rem 1rem; 
}

.msg-username {
  font-weight: bold;
}
.msg-text{
  margin-left: 50px;
}

